<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
<title>About me</title>
</head>
<body>
<hr>
        <!-- header -->
        <div th:replace="~{header :: header}">...</div>
        <!-- //header -->
<hr>
<hr>
<hr>

        <div class="container mt-4">
                <div class="row">
                        <div class="col-md-6 offset-md-3">
                                <h1 class="text-center">About Me</h1>

                                <p>Hello! my name is Mohammed Hattab, I'm passionate about the world of continuous learning and exploration. My journey as a developer has been defined by a deep love for acquiring new skills and knowledge.</p>
                                <p>This simple project, built using Spring Boot and Thymeleaf, represents more than just lines of code to me. It embodies the intricate journey a developer undertakes to bring an idea to life. From conception to production, every step mirrors the challenges and triumphs that shape the development process.</p>
                                <p>One of the highlights of this project was subjecting the code to a static scanner using CodeQL on GitHub. This meticulous analysis not only enhanced the code quality but also reflects my commitment to producing robust and secure solutions.</p>
                                <p>Deploying the project on AWS Elastic Beanstalk through AWS Pipelines marked another milestone. The seamless orchestration of this deployment pipeline showcased my proficiency in modern development practices and cloud technologies.</p>
                                <p>Security was a paramount concern during every phase of this project's lifecycle. Every decision, from architecture design to implementation, was made with a security-first approach.</p>
                                <hr>
                                <div class="text-center">
                                        <a  target="_blank" href="https://github.com/The-Hustler-Hattab/Spring_SMTP_REST"  class="btn btn-dark btn-lg mr-3">
                                                GitHub
                                        </a>
                                        <a  target="_blank" href="https://www.linkedin.com/in/mohammed-hattab-295076216/"  class="btn btn-primary btn-lg mr-3">
                                                LinkedIn
                                        </a>
                                        <a  target="_blank" href="http://mtattab.com/"  class="btn btn-success btn-lg">
                                                Personal Website
                                        </a>
                                </div>
                        </div>
                </div>
        </div>

<hr>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>