<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="error page" content="redirect here on error"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>About me</title>
</head>
<body>
<hr>
<!-- header -->
<div th:replace="~{header :: header}">...</div>
<!-- //header -->
<hr>
<hr>
<hr>

<div class="text-center ">
    <h1 class="display-4">Oops!</h1>
    <p class="lead">It looks like something went wrong.</p>


        <p th:text="${'Error Message - ' + errormsg}"  style="color: #FF007F;"></p>

    <a class="btn btn-primary" href="/">Go back to homepage</a>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>